* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    --primary: #fdc661;
    --background: #FAF3E7;

} /* reseta o estilo do website, e cria variaves de cor */

body {
    background-color: var(--background);
}

.container {
    width: 850px ;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
}